<!DOCTYPE html>
<html>
  <head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta charset="utf-8" />
    <title></title>
    <!-- 如使用数学编辑器，请取消以下代码的注释 -->
    <!-- <script src="//cdn.freesailing.cn/cdn/wirisplugin-generic.js"></script> -->
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
